@import "../../assets/styles/colors";

.todo-container {
  background-color: $primary-color;
  border-radius: 5px;
  border-top-right-radius: 25px;
  margin-bottom: 25px;
  padding: 15px;
  position: relative;

  .todo-title {
    color: $white;
  }
  .todo-description {
    display: none;

    &__open {
      display: block;
    }
  }

  .todo-options {
    text-align: right;
  }

  .todo-duedate {
    font-size: 12px;
    margin-right: 6px;
    &.overdue {
      color: $secondary-color;
      font-weight: bold;
    }
  }

  .todo-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  &.overdue {
    background-color: lighten($secondary-color, 15%);
    .todo-duedate {
      color: $white;
    }
  }
}
