.todos {
  width: 1240px;
  min-height: 100vh;
  max-width: calc(100% - 40px);
  margin: 0 20px;
  background-color: #f0f4f7;

  @media (min-width: 1240px) {
    margin: 0 auto;
  }
}
.todos-container {
  padding: 20px;
}
