@import "../../assets/styles/colors";

.todo-nav__item {
  display: inline-block;
  text-decoration: none;
  color: $black;
  &:not(:last-of-type) {
    margin-right: 30px;
  }

  &.active {
    border-bottom: 2px solid $primary-color;
  }
}
